.cripto {
    border: 1px solid skyblue;
    border-left: 10px solid skyblue;
    border-radius: 5px;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
}


.info {
    color: rgb(224, 220, 220);
}

.label {
    color: skyblue;
}

.cripto-name {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}
.cripto-name > h3 {
    text-align: right;
}

.link-detalles {
    display: flex;
    justify-content: center;
    /*background-color: brown;*/
    margin-top: 15px;
    height: 30px;
    text-decoration: none;
}

.btn-detalles {
    background-color: transparent;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid white;
}
/*.cripto-name h2{
    background-color: rgb(10, 225, 24);
}
.cripto-name h3{
    background-color: red;
}*/

.positivo {
    color: rgb(8, 253, 57);
}

.negativo {
    color: red;
}
